<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HooDatePickerViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B5C6F191F2BC4160035DF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5C6F321F2BC4160035DF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5C6F3D1F2BC4160035DF5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
